## Init

In [1]:
%ls -lah ../data

total 22M
drwxr-xr-x  5 root root  160 Oct  7 18:54 ./
drwxr-xr-x 16 root root  512 Oct  8 17:54 ../
-rw-r--r--  1 root root  21M Feb 25  2019 dataset.csv
-rw-r--r--  1 root root  396 Feb 25  2019 template.csv
-rw-r--r--  1 root root 571K Oct  8 17:18 test_predictions.csv

In [2]:
import numpy as np
import pandas as pd
from IPython.display import display

import matplotlib.pyplot as plt
%matplotlib inline

## Read data

In [3]:
df = pd.read_csv("../data/dataset.csv", sep=";")
df.shape

(99976, 43)

## Sanity checks

In [4]:
df.head()

,uuid,default,account_amount_added_12_24m,account_days_in_dc_12_24m,account_days_in_rem_12_24m,account_days_in_term_12_24m,account_incoming_debt_vs_paid_0_24m,account_status,account_worst_status_0_3m,account_worst_status_12_24m,...,status_3rd_last_archived_0_24m,status_max_archived_0_6_months,status_max_archived_0_12_months,status_max_archived_0_24_months,recovery_debt,sum_capital_paid_account_0_12m,sum_capital_paid_account_12_24m,sum_paid_inv_0_12m,time_hours,worst_status_active_inv
0,63f69b2c-8b1c-4740-b78d-52ed9a4515ac,0.0,0,0.0,0.0,0.0,0.0,1.0,1.0,NaN,...,1,1,1,1,0,0,0,178839,9.653333,1.0
1,0e961183-8c15-4470-9a5e-07a1bd207661,0.0,0,0.0,0.0,0.0,NaN,1.0,1.0,1.0,...,1,1,2,2,0,0,0,49014,13.181389,NaN
2,d8edaae6-4368-44e0-941e-8328f203e64e,0.0,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,...,1,1,2,2,0,0,0,124839,11.561944,1.0
3,0095dfb6-a886-4e2a-b056-15ef45fdb0ef,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,1,1,1,0,0,0,324676,15.751111,1.0
4,c8f8b835-5647-4506-bf15-49105d8af30b,0.0,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,...,0,1,1,1,0,0,0,7100,12.698611,NaN

In [5]:
df.tail()

,uuid,default,account_amount_added_12_24m,account_days_in_dc_12_24m,account_days_in_rem_12_24m,account_days_in_term_12_24m,account_incoming_debt_vs_paid_0_24m,account_status,account_worst_status_0_3m,account_worst_status_12_24m,...,status_3rd_last_archived_0_24m,status_max_archived_0_6_months,status_max_archived_0_12_months,status_max_archived_0_24_months,recovery_debt,sum_capital_paid_account_0_12m,sum_capital_paid_account_12_24m,sum_paid_inv_0_12m,time_hours,worst_status_active_inv
99971,5c03bc63-ea65-4ffd-aa7b-95ea9a46db34,NaN,0,0.0,0.0,0.0,NaN,1.0,1.0,NaN,...,1,1,1,1,0,0,0,60127,10.765556,NaN
99972,f8db22f4-9819-420c-abbc-9ddf1843176e,NaN,0,0.0,0.0,0.0,0.004044,1.0,1.0,NaN,...,1,0,1,1,0,7948,0,4740,21.708333,NaN
99973,b22e21ea-b1b2-4df3-b236-0ff6d5fdc0d8,NaN,45671,0.0,20.0,0.0,0.705078,2.0,2.0,2.0,...,0,0,0,0,0,17447,19627,3100,2.185278,NaN
99974,bafcab15-9898-479c-b729-c9dda7edb78f,NaN,56102,0.0,0.0,0.0,0.064175,1.0,2.0,1.0,...,1,1,1,1,0,18339,56180,34785,9.725278,NaN
99975,ac88f18c-96a6-49bc-9e9d-a780225914af,NaN,0,0.0,0.0,0.0,NaN,1.0,1.0,NaN,...,1,2,2,2,0,0,0,30602,11.585278,NaN

In [6]:
print(f"Number of duplicates: {df.duplicated().sum()}")

Number of duplicates: 0

In [7]:
# Number of NaNs per each row
df.isnull().sum(axis=1).value_counts()

1     13582
7     13034
12    11752
2     10173
8      9130
0      9111
6      6460
10     5901
3      4595
9      3921
11     3367
4      3239
15     1841
5      1831
13     1604
14      258
16      177
dtype: int64

In [8]:
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
uuid,99976,99976,4d011c2f-799a-4fb2-b224-935a611067ed,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
default,89976,NaN,NaN,NaN,0.0143149,0.118786,0,0,0,0,1
account_amount_added_12_24m,99976,NaN,NaN,NaN,12255.1,35481.5,0,0,0,4937.25,1.12878e+06
account_days_in_dc_12_24m,88140,NaN,NaN,NaN,0.223043,5.80812,0,0,0,0,365
account_days_in_rem_12_24m,88140,NaN,NaN,NaN,5.04462,22.864,0,0,0,0,365
account_days_in_term_12_24m,88140,NaN,NaN,NaN,0.286896,2.92991,0,0,0,0,97
account_incoming_debt_vs_paid_0_24m,40661,NaN,NaN,NaN,1.33129,26.4823,0,0,0.152082,0.662952,3914
account_status,45603,NaN,NaN,NaN,1.04217,0.202713,1,1,1,1,4
account_worst_status_0_3m,45603,NaN,NaN,NaN,1.17291,0.420142,1,1,1,1,4
account_worst_status_12_24m,33215,NaN,NaN,NaN,1.33735,0.575043,1,1,1,2,4
account_worst_status_3_6m,42274,NaN,NaN,NaN,1.18529,0.443309,1,1,1,1,4
account_worst_status_6_12m,39626,NaN,NaN,NaN,1.25314,0.505559,1,1,1,1,4
age,99976,NaN,NaN,NaN,36.0163,13.0013,18,25,34,45,100
avg_payment_span_0_12m,76140,NaN,NaN,NaN,17.9715,12.7511,0,10.8,14.9091,21,260
avg_payment_span_0_3m,50671,NaN,NaN,NaN,14.9898,10.2974,0,8.4,13,18.2857,87
merchant_category,99976,57,Diversified entertainment,38614,NaN,NaN,NaN,NaN,NaN,NaN,NaN
merchant_group,99976,12,Entertainment,48779,NaN,NaN,NaN,NaN,NaN,NaN,NaN
has_paid,99976,2,True,85096,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max_paid_inv_0_12m,99976,NaN,NaN,NaN,9203.65,13512.2,0,2000,6052,11380,279000
max_paid_inv_0_24m,99976,NaN,NaN,NaN,11215.1,15256.4,0,3350,7580,13783,538500
name_in_email,99976,8,F+L,40389,NaN,NaN,NaN,NaN,NaN,NaN,NaN
num_active_div_by_paid_inv_0_12m,77037,NaN,NaN,NaN,0.11484,0.293483,0,0,0,0.1,9
num_active_inv,99976,NaN,NaN,NaN,0.599404,1.55003,0,0,0,1,47
num_arch_dc_0_12m,99976,NaN,NaN,NaN,0.0617448,0.374691,0,0,0,0,17
num_arch_dc_12_24m,99976,NaN,NaN,NaN,0.0593642,0.366224,0,0,0,0,13
num_arch_ok_0_12m,99976,NaN,NaN,NaN,7.27583,16.0304,0,0,2,7,261
num_arch_ok_12_24m,99976,NaN,NaN,NaN,6.3698,15.3502,0,0,2,6,313
num_arch_rem_0_12m,99976,NaN,NaN,NaN,0.469443,1.36035,0,0,0,0,42
num_arch_written_off_0_12m,81898,NaN,NaN,NaN,0.000122103,0.0110494,0,0,0,0,1
num_arch_written_off_12_24m,81898,NaN,NaN,NaN,0.000158734,0.0144067,0,0,0,0,2
num_unpaid_bills,99976,NaN,NaN,NaN,2.14156,6.30098,0,0,0,2,182
status_last_archived_0_24m,99976,NaN,NaN,NaN,0.923202,0.56953,0,1,1,1,5
status_2nd_last_archived_0_24m,99976,NaN,NaN,NaN,0.827519,0.622812,0,0,1,1,5
status_3rd_last_archived_0_24m,99976,NaN,NaN,NaN,0.744299,0.634912,0,0,1,1,5
status_max_archived_0_6_months,99976,NaN,NaN,NaN,0.800582,0.719946,0,0,1,1,3
status_max_archived_0_12_months,99976,NaN,NaN,NaN,1.05223,0.786121,0,1,1,1,5
status_max_archived_0_24_months,99976,NaN,NaN,NaN,1.22616,0.833502,0,1,1,2,5
recovery_debt,99976,NaN,NaN,NaN,4.03543,163.935,0,0,0,0,36479
sum_capital_paid_account_0_12m,99976,NaN,NaN,NaN,10816.1,26464,0,0,0,9029.75,571475
sum_capital_paid_account_12_24m,99976,NaN,NaN,NaN,6542.9,19041.2,0,0,0,85,341859
sum_paid_inv_0_12m,99976,NaN,NaN,NaN,39208.8,90649.3,0,2600,15995,43844.2,2.96287e+06
time_hours,99976,NaN,NaN,NaN,15.3298,5.03136,0.000277778,11.6227,15.7928,19.542,23.9997
worst_status_active_inv,30461,NaN,NaN,NaN,1.12176,0.34366,1,1,1,1,3

### Notes

- 10k test rows
- Minimum vaue for `time_hours` looks suspicious (~0.000028h = 1sec)
- Looks like NaNs for some features might be associated with the historical data that might be missing for some of the clients

## Split data

In [12]:
df_train = df[~df.default.isnull()]
df_test = df[df.default.isnull()]

print(df_train.shape)
print(df_test.shape)

(89976, 43)
(10000, 43)